{% extends 'index.html' %}
{% block body %}
    <form action="" method="POST">
        <h3>Step 1:Login with user/pass</h3>
        <div class="form-group">
            <lable>Username:</lable>
            <input type="text" name="username" value="{{request.form.username}}" class="form-control">
        </div>
        <div class="form-group">
            <lable>Password:</lable>
            <input type="password" name="password" value="{{request.form.password}}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}