{% extends 'index.html' %}
{% block body %}
   <h1>Step 2:Check OTP google auth</h1>
   <hr>
   <img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl={{create_qr}}&choe=UTF-8" alt="">
   <form action="" method="POST">
      <lable>Check code OTP:</lable>

       <input type="text" class="form-control" name="data_qr" required >
       <input type="text" value="{{secret_key}}" name="code_otp">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
{% endblock %}